<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapstonePrototype.Properties.Settings.MetroParkingConnectionString"
            connectionString="Data Source=NATANAUAN\SQLEXPRESS;Initial Catalog=MetroParking;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapstonePrototype.Properties.Settings.prototypeConnectionString"
            connectionString="Data Source=NATANAUAN\SQLEXPRESS;Initial Catalog=prototype;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>